<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310247321396-nhgdft7f1h9husoaas3hrno8qoado8b5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310247321396-nhgdft7f1h9husoaas3hrno8qoado8b5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>310247321396-0li82hh6ndkvkncrfj75fmq23j52chob.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3t_1JlvRzeHqjNdaZ5XoDc6RKYeAL-MQ</string>
	<key>GCM_SENDER_ID</key>
	<string>310247321396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Samimi.Samimiapp</string>
	<key>PROJECT_ID</key>
	<string>samimie-f3fe2</string>
	<key>STORAGE_BUCKET</key>
	<string>samimie-f3fe2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310247321396:ios:1a728d63b87b52dcc3ff61</string>
</dict>
</plist>